<div class="list-group mb-3 shadow-sm">
    <a asp-controller="Account" asp-action="EditUser" 
       class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Action"]?.ToString() == "EditUser" ? "active" : "")">
        <i class="fa-solid fa-user me-2"></i> Kullanıcı Bilgileri
    </a>
    
    
    <a asp-controller="Address" asp-query-id="" asp-action="Index" 
       class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Address" ? "active" : "")">
        <i class="fa-solid fa-map-location-dot me-2"></i> Adres Bilgileri
    </a>

    <a asp-controller="Order" asp-action="OrderList" 
       class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Order" ? "active" : "")">
        <i class="fa-solid fa-box me-2"></i> Siparişler
    </a>

    <a asp-controller="Favorite" asp-action="Index" 
       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center @(ViewContext.RouteData.Values["Controller"]?.ToString() == "Favorite" ? "active" : "")">
        <span><i class="fa-solid fa-heart me-2 text-danger"></i> Favorilerim</span>
    </a>

    <a asp-controller="Account" asp-action="ChangePassword"
       class="list-group-item list-group-item-action @(ViewContext.RouteData.Values["Action"]?.ToString() == "ChangePassword" ? "active" : "")">
        <i class="fa-solid fa-key me-2"></i> Parola Değiştir
    </a>

    <a asp-controller="Account" asp-action="SecuritySettings" 
       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center @(ViewContext.RouteData.Values["Action"]?.ToString() == "SecuritySettings" ? "active" : "")">
        <span><i class="bi bi-shield-check me-2"></i> Güvenlik Ayarları (2FA)</span>
        <span class="badge bg-primary rounded-pill"><i class="bi bi-shield-lock"></i></span>
    </a>
</div>